<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>White-lms</title>

    <!-- LINK CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- FONT-AWESOME 5.10.0-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

     <!-- VUE 2.6.12 -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

     <!-- AXOS CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
     <!-- FONT GOOGLE -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="root">
      <header>
        <div class="container-sizeL">
          <div class="header-top">
            <div class="language">
              <a href="#" class="color-grey">English<i class="padS fas fa-angle-down"></i></a>
            </div>
            <ul class="menu padL" v-for='el in menu'>
              <li><a href="#" class="color-grey">{{el}}</a></li>
            </ul>
            <ul class="menu color-grey">
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-instagram"></i></li>
              <li><i class="fab fa-behance"></i></li>
              <li><i class="fas fa-basketball-ball"></i></li>
              <li><i class="fab fa-whatsapp"></i></li>
              <li><i class="fab fa-git"></i></li>
              <li><i class="fab fa-linkedin"></i></li>
              <li><i class="fab fa-pinterest"></i></li>
            </ul>
          </div>
          <div class="header-down">
            <div>
              <img src="img/MasterStudy_logo.svg" alt="logo">
            </div>
            <div class="search">
              <a href="#" class="padS color-grey"><i class="fas fa-bars"></i>CATEGORY</a>
              <div class="searchInpBtn">
                <input type="text" size="30px" value="" placeholder="search courses">
                <button type="button" name="button"><i class="fas fa-search"></i></button>
              </div>
            </div>
            <ul class="menuAccount">
                <li><a href="#" class="color-black"><i class=" padS fas fa-bullhorn"></i>Become an instructor</a></li>
                <li><a href="#" class="color-black"><i class=" padS fas fa-briefcase"></i>For enterprise</a></li>
            </ul>
            <div class="signUp">
              <a href="#" class="padM color-blue"><i class="padS fas fa-user"></i>Log in</a>
              <button type="button" name="button">Sign up</button>
              <a href="#" class="color-blue"><i class="padS far fa-bookmark"></i></a>
            </div>
          </div>
        </div>
      </header>
      <main>
        <!-- MAIN PARTYE 1 -->
        <div class="bkg-jumbotron">
          <div class="jumbotron container-sizeM">
            <h1>Start Investing in You</h1>
            <p>whit over 1200 courses in 18 subejcts, you're guaranteed to<br>find something that's right for you.</p>
            <div class="btnJumbo">
              <button type="button" name="button">JOIN FOR FREE</button>
            </div>
          </div>
        </div>
        <div class="container-sizeM">
          <div class="cards">
            <div class="card margin-right">
              <i class="fas fa-globe-americas"></i>
              <h4>Worldwide Recognize</h4>
              <p>Our online course certificates can be used around the world and also in most popular universitas and companies</p>
            </div>
            <div class="card ">
              <i class="fas fa-desktop"></i>
              <h4>Mostly Online learning (sd)</h4>
              <p>Masterstudy online certificates can be obtained in a range of specialized areas and typically take about a year to complete. </p>
            </div>
            <div class="card margin-left">
              <i class="far fa-calendar-check"></i>
              <h4>Graduate in as little as 1 Year</h4>
              <p>Online post-graduate certificates are a popular way to develop your professional qualifications of Masterstudy</p>
            </div>
          </div>
          <div class="presentationCourses">
            <div class="photoM">
              <img src="img/cat_1-1540x750.jpg" alt="">
              <div class="description">
                <p>Software Development</p>
                <p>5 courses</p>
              </div>
            </div>
            <div class="groupPhoto">
              <div class="photoS">
                <img src="img/cat_2-740x310.jpg" alt="">
                <div class="description">
                  <p>Art</p>
                  <p>8 courses</p>
                </div>
              </div>
              <div class="photoS">
                <img src="img/cat_3-740x310.jpg" alt="">
                <div class="description">
                  <p>Material design</p>
                  <p>5 courses</p>
                </div>
              </div>
            </div>
            <div class="photoS margin-top">
              <img src="img/cat_5-740x310.jpg" alt="">
              <div class="description">
                <p>Music</p>
                <p>5 courses</p>
              </div>
            </div>
            <div class="photoS margin-top">
              <img src="img/cat_4-740x310.jpg" alt="">
              <div class="description">
                <p>Exercise</p>
                <p>7 courses</p>
              </div>
            </div>
            <div class="photoS margin-top">
              <img src="img/cat_6-740x310.jpg" alt="">
              <div class="description">
                <p>Photography</p>
                <p>4 courses</p>
              </div>
            </div>
          </div>
        </div>
        <!-- MAIN PARTE 2 -->
        <div class="bkg-readMore">
          <div class="readMore container-sizeM">
            <h2>Limitless learnig<br>more possibilities</h2>
            <p>Onlione courses open the opportunity for learning to<br>almost anyone, regardless of their scheduling<br>commitments.</p>
            <div class="btnReadMore">
              <button type="button" name="button">READ MORE</button>
            </div>
          </div>
        </div>
        <div class="courses container-sizeL">
          <h1>Recent courses</h1>
          <div class="courseMenu">
            <ul v-for='el in menuCourses'>
              <li>{{el}}</li>
            </ul>
          </div>
          <div class="groupCourse">
            <template v-for='el in courses'>
              <div class="course">
                <img :src="el.poster" alt="" class="">
                <p>{{el.type}}</p>
                <h4>{{el.name}}</h4>
                <hr>
                <div class="timeCost" v-if="el.time == ''">
                  <span>
                    <i class="fas fa-star" id="star"></i>
                    <i class="fas fa-star" id="star"></i>
                    <i class="fas fa-star" id="star"></i>
                    <i class="fas fa-star" id="star"></i>
                    <i class="fas fa-star" id="star"></i>
                    5
                  </span>
                  <span>{{el.costBefore}}</span>
                  <span>{{el.cost}}</span>
                </div>
                <div class="timeCost" v-else>
                  <span><i class="far fa-clock"></i> {{el.time}}</span>
                  <span>{{el.costBefore}}</span>
                  <span>{{el.cost}}</span>
                </div>
              </div>
            </template>
            <button type="button" name="button">Show All</button>
          </div>
        </div>
        <!-- MAIN PARTE 3 -->
        <div class="bkg-result">
          <div class="result container-sizeM">
            <h2>We are Proud</h2>
            <p>Certificate courses are instructed by highly educated and qualified instructors who hold<br>doctoral and master's level degrees.</p>
            <div class="result-numbers">
              <div class="number">
                <p>2000</p>
                <span>STUDENTS</span>
              </div>
              <div class="number">
                <p>950</p>
                <span>COURSES</span>
              </div>
              <div class="number">
                <p>1600</p>
                <span>HOURS</span>
              </div>
              <div class="number">
                <p>160</p>
                <span>COUNTRIES REACHED</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bkg-newsletter">
          <div class="container-sizeM newsletter">
            <div class="newsletter-title">
              <h4>Subscribe our newsletter</h4>
              <p>There are many variations of passages of lorem Ipsum avaiable, but the majority have<br>suffered alteration in some form,by injected humor, or randomised words</p>
            </div>
            <div class="newsletter-title-input">
              <h4>YOUR E-MAIL ADDRESS</h4>
              <div class="newsletter-input">
                <input type="text" name="" value="" size="60px" placeholder="Enter your E-mail">
                <button type="button" name="button">Subscribe</button>
              </div>
            </div>
          </div>

        </div>
        <!-- MAIN PARTE 4 -->
        <div class="bkg-popular-course">
          <div class="popular-course-title container-sizeL">
            <h2>Popular courses</h2>
            <p>Discovery our must popular courses</p>
            <div class="groupCourse">
              <template v-for='el in popularCourse'>
                <div class="course">
                  <img :src="el.poster" alt="" class="">
                  <p>{{el.type}}</p>
                  <h4>{{el.name}}</h4>
                  <hr>
                  <div class="timeCost" v-if="el.time == ''">
                    <span>
                      <i class="fas fa-star" id="star"></i>
                      <i class="fas fa-star" id="star"></i>
                      <i class="fas fa-star" id="star"></i>
                      <i class="fas fa-star" id="star"></i>
                      <i class="fas fa-star" id="star"></i>
                      5
                    </span>
                    <span>{{el.costBefore}}</span>
                    <span>{{el.cost}}</span>
                  </div>
                  <div class="timeCost" v-else>
                    <span><i class="far fa-clock"></i> {{el.time}}</span>
                    <span>{{el.costBefore}}</span>
                    <span>{{el.cost}}</span>
                  </div>
                </div>
              </template>
            </div>
            <div class="chev">
              <div class="chevL">
                <i class="fas fa-chevron-left"></i>
              </div>
              <div class="chevR">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="container-sizeL became">
          <div class="became-card">
            <img src="img/image_box_1-221x231.png" alt="">
            <div class="became-title">
              <h5>Became an Instructor</h5>
              <p>Teach what you love. Masterstudy gives you the tools to a create a course</p><br>
              <button type="button" name="button">START TEACHING</button>
            </div>
          </div>
          <div class="became-card">
            <img src="img/image_box_2-234x231.png" alt="">
            <div class="became-title">
              <h5>Setup For Business</h5>
              <p>Get unlimited acces to 2.500 of Udemy's top courses for your team.</p><br>
              <button type="button" name="button">DOING BUSINESS</button>
            </div>
          </div>
        </div>
        <div class="bkg-rating">
          <div class="container-sizeM">
            <div class="rating ">
              <h2>Come as you are</h2>
              <p>Masterstudy used is an excellent workshop whether you come<br>as a counselor, advisor, administrator, or faculty memeber. I am<br>going home empowered. I am looking forward to attending <br>the On Course MasterStudy and MasterStudy National<br>Confernce next year and facilitatiing the use of this excellent <br>retention/student success course at my college. </p>
              <h5>Tim Sab</h5>
              <p>General Developer, Stylemix Themes</p>
              <div class="square"></div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="foot">
          <div class="sectionFoot">
            <h4>About</h4>
            <p><a href="#">MasterStudy</a> is education WordPress theme<br>featured by Learning Management System<br>(LMS) for online education.<br>Developed by <a href="#">StylemixThemes.</a></p>
            <div class="iconFoot">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
            </div>
          </div>
          <div class="sectionFoot">
            <h4>Contact</h4>
            <p>Usa,California 20, First Avenue.<br> California</p>
            <p>Tel:+1 212 45830032 <br>Fax:+1 212 3752414</p>
            <h6>info@masterstudy.com</h6>
          </div>
          <div class="sectionFoot">
            <h4>Pages</h4>
            <div class="page">
              <ul>
                <li>Blog</li>
                <li>Home</li>
                <li>Shortcodes</li>
              </ul>
              <ul>
                <li>Courses</li>
                <li>Membership A...</li>
                <li>Typography</li>
              </ul>
            </div>
          </div>
          <div class="sectionFoot">
            <h4>Blog</h4>
            <div class="footImg">
              <img src="img/photo-1517520287167-4bbf64a00d66-150x150.jpeg" alt="">
              <div class="footImgDes">
                <p>Our main target is to <br>"Developing Yourself as a Leader" </p>
                <p><i class="fas fa-horizontal-rule"></i> August 9,2018</p>
              </div>
            </div>
            <div class="footImg">
              <img src="img/photo-1490376840453-5f616fbebe5b-150x150.jpeg" alt="">
              <div class="footImgDes">
                <p>Those Other College <br>Expenses You Aren't <br>Thinking About </p>
                <p><i class="fas fa-horizontal-rule"></i>June 3,2015</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
</div>
<!-- script -->
<script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
